/* #projectsList{
    
}

h1
{
    color: #E0E0E0;
    padding-left: 20px;
    font-family: 'Lato', sans-serif;
}
h2
{
    color: #E0E0E0;
    padding-left: 20px;
    font-family: 'Lato', sans-serif;
}
.mainHeader
{
    background-color: #00695C;
} */