@import url('https://fonts.googleapis.com/css?family=Lato');

/* h1
{
    color: #E0E0E0;
}
p
{
    color: #E0E0E0;
}

.bg
{
    background-color: #303F9F;
    padding: 10px;
    margin: 10px;
} */

a{
    text-decoration: none;
}